<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h2>Login</h2>
			<p><%= flash[:error] %></p>
			<form method='post' action='/sessions'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
				<table>
					<tbody> 
						<tr>
							<td>Email</td>
							<td>
								<input type='text' name='lender[email]'>
							</td>
							
						</tr>
						<tr>
							<td>Password</td>
							<td>
								<input type='password' name='lender[password]'>
							</td>
							
						</tr>
					</tbody>
				</table>
				<input type='submit' value='Login'>
			</form>
			<a href="/">Click here to register</a>
		</div>
	</div>
</div>